h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.linkBoxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between boxes */
}

.linkBox {
  background-color: #91b460;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  flex: 1 1 calc(50% - 20px); /* Make them responsive with a 2-column layout */
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.linkBox:hover {
  transform: translateY(-5px);
  background-color: #8fc641;
}

.linkBox:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.linkBox a {
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Ensure link text color matches */
}

.linkBox a:hover {
  text-decoration: none; /* Ensure underline doesn't appear on hover */
}
