.quickLinksContainer {
    background-color: #fff;
    padding: 0px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* .quickLinksContainer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.linkBoxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between boxes */
}

.linkBox {
    background-color: #91b460;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    flex: 1 1 calc(50% - 20px); /* Make them responsive with a 2-column layout */
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.linkBox:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); */
    background-color: #8fc641;
}

.linkBox:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.linkBox p {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
}

.linkBox a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent .linkBox */
}

@media (max-width: 768px) {
    .linkBox {
        flex: 1 1 100%;
        padding: 20px;
        background-color: #889ace;
        border-radius: 20px;
    }

    .linkBox:hover {
        transform: translateY(-5px);
        /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); */
        background-color: #5a6a9b;
    }

    .header {
        display: none;
    }

    
}

/* Tablet Layout */
@media (max-width: 1024px) and (min-width: 769px) {
    .quickLinksContainer {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        transition: all 0.3s ease;
        
    }

    .linkBox {
        flex: 1 1 100%;
        padding: 18px;
        background-color: #889ace;
        border-radius: 20px;
    }

    .linkBox:hover {
        transform: translateY(-5px);
        /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); */
        background-color: #5a6a9b;
    }

    .header {
        display: none;
    }
}