.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row on desktop */
  gap: 20px; /* Space between items */
  justify-content: center; /* Center items */
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.thumbnail {
  width: 100%;
  max-width: 250px; /* Limit the thumbnail width */
  height: auto;
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.thumbnail:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.videoTitle {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
  text-align: center;
}

.showMore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.showMoreButton {
  background-color: #91b460;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.showMoreButton:hover {
  background-color: #8fc641;
}

/* Adjust for medium screens */
@media (max-width: 1200px) {
  .content {
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  }
}

/* Adjust for small screens */
@media (max-width: 800px) {
  .content {
    grid-template-columns: repeat(1, 1fr); /* 2 items per row */
  }
}

/* Adjust for extra small screens (mobile) */
@media (max-width: 500px) {
  .content {
    grid-template-columns: repeat(1, 1fr); /* 1 item per row */
  }
}
